body{
	background: url(gambar2.png);
}

/*
Style index
*/
#sambutan{
	text-align:center;
}
.button{
	width: auto;
	margin-top: 10px;
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  list-style-type: none;
  width: 400px;
  margin-right: auto;
  margin-left: auto;

}

#loginbg{

	background: white;
	border: dashed black 13px;

	width: 400px;
	height: 250px;
	padding: 50px;
	text-align: center;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom:auto;
    margin-right: auto;
    display: block;

}
input{
	margin-bottom: 20px;
	font-size: 30px;

}

button{
	margin-top: 10px;
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
}

li{list-style:none;}

